@{
    ViewData["Title"] = "Home Page";
}




<div class="IndexDiv">    
    <p><h1 class="text-center font-weight-bolder">LostOrFound</h1></p>
    <div class="row m-2">

        <div class="col-8">
            <p><h5>Share details of your lost or found items..we will help you find........<h3>Login to share details</h3>
                
            if already logged in click on navigation bar to go further</h5></p>
        </div>
     
    </div>
</div>
